* {
  box-sizing: border-box;
}
h1 {
  color: tomato;
  font-size: 36px;
}
p {
  color: #333;
}
.highligth {
  background-color: yellow;
}
#main-title {
  font-size: 48px;
}
.my-box {
  padding: 20px;
  border: 3px solid #8b5cf6;
  margin: 16px;
  background: #f0f0ff;
}
body {
  font-family: "poppins" sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
h1 {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
}
nav a {
  text-decoration: none;
}
.hero {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  padding: 60px 20px;
  text-align: center;
  border-radius: 8px;
}
.btn {
  background: #8b5cf6;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}
.btn:hover {
  background: #7c3aed;
}
.btn1 {
  background: #8b5cf6;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 20px;
}
.btn1:hover {
  border-radius: 50%;
}
.container {
  display: flex;
  gap: 10px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
}
.box:hover{
  background-color: palevioletred;
}
.start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
  margin-top: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: #3e3e69;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  color: #e0dde8;
  cursor: pointer;
}
.logo {
  color: antiquewhite;
}
h2{
  color: #ff7200;
  font-family: 'Times New Roman';
  font-size: 25px;
}
h2:hover{
text-align: end;
}
ul li{
  list-style: none;
  color: tomato;
}
ul li:hover{
  color: black;
  text-align: center;
}
.images{
  flex-direction: column;
  padding: 16px;
}
@media (min-width:768px){
  .images{
    flex-direction: row;
    padding: 32px;
  }
}
