* {
  box-sizing: border-box;
}
h1 {
  color: tomato;
  font-size: 36px;
}
p {
  color: #333;
}
.highligth {
  background-color: yellow;
}
#main-title {
  font-size: 48px;
}
.my-box {
  padding: 20px;
  border: 3px solid #8b5cf6;
  margin: 16px;
  background: #f0f0ff;
}
body {
  font-family: "poppins" sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
h1 {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
}
nav a {
  text-decoration: none;
}
.hero{
  background: linear-gradient(135deg,#667eea,#764ba2);
  color: white;
  padding: 60px 20px;
  text-align: center;
  border-radius: 8px;
}
.btn{
  background: #8b5cf6;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  
}
.btn:hover {
  background: #7c3aed;
}
.btn1{
  background: #8b5cf6;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 20px;
}
.btn1:hover{
  border-radius: 50%;
}
