
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #ff7200;
}

.navbar .logo {
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #000;
}


.hero {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}


.content {
  display: flex;
  gap: 20px;
  padding: 40px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #ecce11;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card:hover{
  background-color: #888282;
}
button{
  border-radius: 8px;
padding: 10px;
background-color: #ff7200;

margin-right: 50px;

}
button:hover{
  background-color: #e78f8f;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  color: #333;
}


footer {
  background-color: #ff7200;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
  
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}